
.home-container {
    text-align: center;
    margin-top: 50px;
  }
  
  /* Contenedor de los íconos */
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
  }
  
  .icon {
    width: 80px;
    height: 80px;
    transition: transform 0.3s ease-in-out;
  }
  
  .icon:hover {
    transform: scale(1.2); /* Aumenta el tamaño en 20% */
  }
  
  /* Responsive: Ajusta el tamaño en pantallas pequeñas */
  @media (max-width: 600px) {
    .icon {
      width: 60px;
      height: 60px;
    }
  }
  