 #root { 
  margin: 0 auto;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

.app-container{
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  
}
/* html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  background-color: #262626;
}
body {
  font-family: sans-serif;
  background-color: #1e1e1e; 
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background-color: #262626;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
 */
